---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Acerca de mi';
const description = 'About your blog.';
---

<BaseLayout title={title} description={description} current="about">
  <div class="container">
    <h1>Acerca de mi</h1>
    <p>Computer Science Engineer. 6+ years of experience building modern web apps.</p>
    <p>Years of experience as fullstack web developer. Work experience in architecture, infrastructure, backend,
    frontend, API design, UI/UX, and more. For details of each technology experience see the projects section.<p>
    6+ years of experience with React.js, MySQL, Apache/Nginx.
    2+ years with TypeScript, TailwindCSS, GraphQL, Docker, Ruby on Rails.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
