---
import BaseLayout from '../layouts/BaseLayout.astro';
import CurriculumVitaes from '../components/CVs/CurriculumVitaes.astro'
import GraphicsMoon from '../components/Graphics/Moon.astro'
import GraphicsSun from '../components/Graphics/Sun.astro'
import HeroPicture from '../components/HeroPicture.astro'
import PortfolioCards from '../components/portfolio/PortfolioCards.astro'

const title = 'Home';
const permalink = Astro.site.href

---

<BaseLayout title={title} permalink={permalink}>
{/*
  <div class='graphic-container flex gap-3'>
    <GraphicsMoon>
  </div>
<div class="hero-container">
    <HeroPicture/>
</div>
*/}


  {/*<GraphicsSun>*/
  /*</GraphicsSun>*/}
  <div class="home-container">
    <div class="home">
      <h1>lucas pose merani</h1>
      <h2>fullstack web developer - software engineer</h2>
      <div>
        <CurriculumVitaes/>
      </div>
    </div>
  </div>

  <PortfolioCards>

</BaseLayout>

<style>
  .graphic-container {
    @apply 
      w-full;
      height: 300px;
  }

  .hero-container {
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    @apply w-64 h-64
    ;
    filter:grayscale(1);
  }

h1 {
  /*font-family: 'Bebas Neue' sans;*/
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

h2 {
}

.home-container {
  font-family: "lato", sans-serif;
  font-weight: 100;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 2em 0;
  min-height: 400px;
}

.home {
  /*flex: 1;*/
  padding: 0 1em;
}


.home p {
  font-size: 1.4em;
}

@media (max-width: 1200px) {
  p {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  .home-container {
    flex-direction: column;
  }

  .home {
    flex: 0;
    padding-bottom: 2em;
    text-align: center;
  }
}
</style>
