<style>
  img {
    display: block;
    width: 75px;
  }
a {
  font-family: "Chango", monospace;
  font-size: 22px;
}
</style>

<a href="/">
  lucas pose
  {/*<img alt="Blog Logo" src="/assets/logo.webp" width="75" height="50">*/}
</a>
