---
const { label } = Astro.props
const { file } = Astro.props
---
<a href={file} target="_blank">
  <div>
    <div>
      {label}
    </div>
    <div>
      // descargar
    </div>
  </div>
</a>

<style>

a > div:hover {
  @apply
    opacity-75
    bg-gray-200
    text-gray-600
}
a > div {
  @apply 
    px-3 py-1
    rounded-sm;

  /*font-weight: 300;*/
  /*font-size: 32px;*/
  /*letter-spacing: 5px;*/
  /*background: rgba(0,0,0,0.4);*/
  /*background: linear-gradient(to top left, rgba(0,0,0,0.5), rgba(0,0,0,0.4));*/
  /*color: white;*/
}

</style>
