---
/*import CurriculumVitae from './CurriculumVitae.astro'*/
import file_cv_english from '../../documents/CV-RESUME-Lucas_Pose_english.pdf'
import file_cv_spanish from '../../documents/CV-RESUME-Lucas_Pose.pdf'
---
<div class="container">
  <div>
    You can download this file in 
    <a target="_blank" href={file_cv_english} >english</a> or in 
    <a target="_blank" href={file_cv_spanish} >spanish</a>.
  </div>
</div>

<style>
.container {
  @apply 
    flex space-x-4
  ;
}
a {
  @apply underline text-cyan-700 italic
    hover:bg-slate-700 hover:text-white
    ;
}

</style>
